@import "_queries.scss";
@import "_variables.scss";
@import "_mixins.scss";


// SHORTCUTS

// CTRL + K, then CTRL + 0 (zero)

//
body {
    font-family: "Poppins", sans-serif;
    background-color: grey;
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
}

header {

    height: 167px;
    background-color: white;
    // padding: 20px 0;

    .header_container {  
        height: 167px;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0px auto;
        // margin-top: 20px;
        
        .netmatters_nav_container_inner { 
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 70px;
            
            .netmatters_logo_container {
                img { // LOGO
                    height: auto; 
                    width: 100%;
                    max-height: 70px;
                }
            }
    
            // FLEX BOX PUTS EXCESS SPACE BETWEEN THESE
    
            .actions_container {
                height: 70px;
                display: flex;
                justify-content: end;
                flex-wrap: nowrap;
                padding: 7px 0;
                margin-left: 20px;

                .support_button,
                .contact_button {
                    display: none;
                    justify-content: center;
                    text-align: center;
                    line-height: 56px;
                    border-radius: 3px;
                    font-size: 18px;
                    color: white;
                    height: 56px;
                    font-weight: 600;
                    letter-spacing: 1px;
        
                    i {
                        // line-height: 18px;
                        font-size: 18px;
                        padding-right: 10px;
                    }
                }
        
                .support_button {
                    display: none;
                    width: 144px;
                    background: #4183d7;
                }
                
                .contact_button {
                    display: none;
                    background: #999aa2;
                    width: 152px;
                    margin-left: 20px;
                } 
        
                .search_field {
                    display: none;

                    input {
                        padding: 0 0 0 10px;
                        width: 163px;
                        height: 56px;
                        // border-radius: 3px 0 0 3px;
                        box-shadow: none;
                        border: solid 1px grey;
                        border-right: none;
                        margin: 0;
                    }
                }
        
                .search_button {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 0 3px 3px 0; // top left   top right    bottom right    bottom left
                    height: 56px;
                    width: 63px;
                    background: #999aa2;
        
                    i {
                        font-size: 24px;
                        line-height: 56px;
                        color: white;
                    }
                }
                   
                .phone_button {
                    // border: solid 1px red;
                    display: block;
                    height: 56px;
                    width: 56px;
                    text-align: center;
                    padding: 16px; 
                    // margin-top: -7px;
                    // margin-bottom: -7px;
                    // p 16   t 24    p 16  == 56
                    i {
                        font-size: 24px;
                        line-height: 24px;
                        color:  #333645;
                    }
    
                    i:hover {
                        color:  #22242e;
                        border-bottom: solid 1px  #22242e;
                    }
                }
                
                .burger_container {

                    margin-left: 20px;
                    height: 56px;
        
                    .burger_button {
                        display: flex;
                        // border: solid 1px red;
                        justify-content: space-evenly;
                        flex-direction: column;
                        text-align: center;
                        height: 56px;
                        width: 63px;
                        background: #333645;
                        border-radius: 5px;
            
                        .line_container {
                            .burger_line {
                                display: block;
                                height: 3px;
                                width: 33px;
                                background-color: white;
                                margin-bottom: 5px;
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                        
                        .burger_menu {
                            color: white;
                            text-transform: uppercase;
                            padding: 0;
                            margin: 0;
                            font-size: 12px;
            
                        }
                        
                    }
            
                    .burger_button:hover {
                        background-color: #22242e;
    
                    }
                }
            }
            
        }
    
        // mobile search box styles
        .mobile_search_field {
            position: relative;
            border-left: none;
            border-right: none;
            margin: 0;
            padding: 0;
            
            input {
                // border: solid 1px #555555;
                box-shadow: rgba(85, 85, 85, 0.075) 0px 0px 3px 0px;
                border-radius: 2px;
                // background-color: #555555;
                height: 46px;
                width: 100%;
                // width: calc(100% - 55px); //calculate 100% (width in this case) - 55 pixels  55pixels = 40 padding right + 15 padding left.
                padding: 5px 40px 5px 15px;
                // padding: 5px 0px;
                // width: 100%;
                // border: 0;
                margin: 0;
                // border-width: 0;
                
            }
    
            a {
                // line-height: 47px;
                top: 0;
                right: 0;
                position: absolute;
                font-size: 20px;
                padding: 13.5px;
                line-height: 20px;
                color:  #333645;
            }
        }
    }

    // NAV MENU
    .nav_menu {
        display: none;
    }
}

.slideshow_container {
    display: block;
    height: 740px;
    width: auto;
    margin-top: 0px;
    // border: solid red 1px;

    .slide {
        background-image: linear-gradient(rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)), url("../images/web_design_slide_image.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 740px;
        width: auto;
        overflow: hidden;

        .slide_content {
            display: block;
            margin: auto;
            padding: 246px 0;
            width: 349px;
            text-align: center;

            h1, p, a {
                color: white;
                font-size: 20px;

                i {
                    padding-left: 20px;
                }
            }

            h1 {
                font-size: 48px;
                margin-bottom: 25px;
            }

            a {
                // border: 1px solid yellow;
                height: 224px;
                width: 62px;
                padding: 5px 20px;
                background-color: #926fb1;
                border-radius: 3px;
            }
        }
    }

}

.cards_container {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 2152px;
    margin-top: 20px;
    
    div[class*=card_]{
        @include card_default;
    }

}

@media (min-width: 768px) {

    header {
        height: 110px;

        .header_container {
            // width is 18 px smaller than the media query to account for the 19px wide vertical scrollbar width
            // 750 + 18 = 768px
            width: 750px;
            height: 110px;

            .netmatters_nav_container_inner {
                height: 70px;
    
                .netmatters_logo_container {
                    height: 60px;
                    width: 375px;

                    img {
                        height: 60px;
                        width: 345px;
                    }
                }
    
    
                .actions_container { // KEEPS THE ACTIONS TOGETHER
                    // border: solid 1px black;
                    // At 768px add this (padding done)
                    padding: 7px 0;
                    width: 340px;
                    height: 70px;
                    justify-content: flex-end;
                    
                    .search_field,
                    .search_button {
                        display: inline-block;
                    }
        
                    .phone_button {
                        display: none;
                    }

                    .search_field {
                        width: 163px;
                        height: 54px;
                        // padding: 1px;
                        margin: 0;
                        // padding: 5px 15px;

                    }

                    .search_button {
                        width: 63px;
                        height: 56px;
                        padding: 0px 20px 0px 20px;
                        line-height: 56px;
                    }

                    .burger_button {
                        width: 63px;
                        height: 56px;
                        margin-left: 20px;
                    }

                    .burger_container {
                        margin: 0;
                    }
                }
            }

            .mobile_search_field {
                display: none;
            }
        }
    }

    .slideshow_container {
        height: 796px;

        .slide {
            height: 797px; // added one pixel to netmatters height to hide white

            .slide_content {
                // width: 750px;
                margin: 0 auto;
            }
        }
    }

    // .cards_container {
    // }
} // -----------------------webpage------------------------ scrollbar

@media (min-width: 992px) {

    header {
        height: 110px;

        .header_container { 
            width: 975px;
            height: 110px;

            .netmatters_nav_container_inner {
                height: 70px;
                margin: 0;

                .nevmatters_logo_container { 
                    height: 70px;
                    width: 404px;
    
                    img {
                        width: 374px;
                        height: 65px;
                    }
                }

                .actions_container {
                    // border: 1px solid red;
                    height: 70px;
                    width: 565px;
                    padding: 7px 0 7px 0;
                    justify-content: flex-end;

                    .support_button,
                    .contact_button {
                        display: block;
                        font-size: 18px;
                    }

                    .search_field {
                        display: none;
                    }

                    .search_button {
                        border-radius: 3px;
                        margin-left: 20px;
                    }
                }
            }

        }

        .nav_menu {
            display: block;
            width: 100%;
            height: 99px;
            background-color: #333645;

            .nav_menu_buttons {
                display: flex;
                width: 945px;
                // padding: 0px 15px;
                margin: 0 auto;
                // border-left: solid 1px $navigation-border-dark;
                // border-right: solid 1px $navigation-border-light;

                div[class*=_container] {
                    width: 157.5px;
                    height: 99px;

                    .nav_button {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 157.5px;
                        height: 99px;
                        color: white;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 18px;
                        border-style: inset;
                        border-top: none;
                        border-bottom: none;
                        border-left: solid 1px $navigation-border-dark;
                        border-right: solid 1px $navigation-border-light;
                        // font-weight: bold;  

                        i {
                            padding-bottom: 10px;
                        }

                        small {
                            font-size: 10px;
                            line-height: 10px;     
                        }
                    }   

                    .web_button {
                        i {
                            color: $web;
                        }
                    }

                    .it_button {
                        i {
                            color: $it;
                        }
                    }

                    .telecoms_button {
                        i {
                            color: $telecoms;
                        }
                    }
                    
                    .bespoke_button {
                        i {
                            color: $bespoke;
                        }
                    }

                    .digital_button {
                        i {
                            color: $digital;
                        }
                    }

                    .cyber_button {
                        i {
                            color: $cyber;
                        }
                    }

                    .nav_sub_bar {
                        display: none;
                        height: 45px;
                        position: absolute;
                        left: 0;
                        right: 0;

                        div[class*=_contents] {
                            width: 945px;
                            height: 45px;
                            margin-left: auto;
                            margin-right: auto;

                            a {
                                color: white;
                                // padding-left: 20px;
                                text-transform: uppercase;
                                line-height: 45px;
                                text-decoration: none; 
                                font-size: 13px;
                            }

                            span {
                                padding: 0 20px;
                                color: white;
                            }
                        }
                    }
                }

                div[class*=_container]:hover {

                    // Make all text white.
                    .nav_button {
                        color: white;
                        i {
                            color: white;
                        }
                    }

                    .nav_sub_bar {
                        display: block;
                    }

                    // Make button and nav bar the color.

                    // #region Color Values
                    .web_button {
                        background-color: $web;
                    }

                    .web_bar {
                        background-color: $web_dark;
                    }

                    .it_button {
                        background-color: $it;
                    }

                    .it_bar {
                        background-color: $it_dark;

                    }

                    .telecoms_button {
                        background-color: $telecoms;
                    }

                    .telecoms_bar {
                        background-color: $telecoms_dark;
                    }

                    .bespoke_button {
                        background-color: $bespoke;
                    }

                    .bespoke_bar {
                        background-color: $bespoke_dark;
                    }

                    .digital_button {
                        background-color: $digital;

                    }

                    .digital_bar {
                        background-color: $digital_dark;
                    }

                    .cyber_button {
                        background-color: $cyber
                    }

                    .cyber_bar {
                        background-color: $cyber_dark;
                    }
                    // #endregion

                }
            }   
        }
    }

    .slideshow_container {
        margin-top: 100px; //height from nav_menu (99px)
        height: 697px;
        width: auto;

        .slide {
            height: 697px;

            .slide_content {
                padding-left: 5%; // 15 padding, 2 margin from netmatters container
                height: 697px;
                margin: 0;
                text-align: left;
            }
        }
    }

    // .cards_container {
    // }

}       

@media (min-width: 1260px) {

    header {
        .header_container {
            width: 1200px;
        
            .netmatters_nav_container_inner {
    
                .netmatters_logo_container {
                    width: 400px;
                    height: 70px;
                    img {
                        height: 65px;
                    }
                }
                
                .actions_container {
                    width: auto;
                    height: 70px;
    
                    .search_field {
                        display: inline-block;
                        width: 240px;
                        height: 56px;
                        margin-left: 20px;
                        // margin-top: -1px;
                        
    
                        input {
                            width: 240px;
                            height: 56px;
                            padding: 0px 0px 0px 15px;
                        }
                           
                    }

                    .search_button {
                        border-radius: 0 3px 3px 0;
                    }
    
                    .support_button {
                        width: 144px;
                    }
    
                    .search_button {
                        margin: 0px;
                    }
                }
            }
        }
        
        .nav_menu {
            .nav_menu_buttons {
                width: 1170px;
                margin-left: auto;
                margin-right: auto;

                div[class*=_container] {
                    width: 194px;
                    // height: 99px;

                    .nav_button {
                        width: 194px;
                        // height: 99px;
                    }

                    .nav_sub_bar {
                        div[class*=_contents] {
                            width: 1170px;

                            a {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .slideshow_container {
        height: 697px;
        .slide {
            height: 697px;
        }
    }

    // .cards_container {
    // }
}