// web  #926fb1 #79539a;
// it  #4183d7 #286abd;
// telecoms  #d64541 #bc2c28;
// bespoke  #67809f #526781;
// digital  #2eec71 #25a25a;

// variable group
$colours: (
    // $name    $light_colour    $dark_colour

    web #926fb1 #79539a, // group
    it  #4183d7 #286abd,
    telecoms  #d64541 #bc2c28,
    bespoke  #67809f #526781,
    digital  #2eec71 #25a25a,
    cyber  #f62459 #de093f,
);

$image_URL: (

    web '../Images/slideshow/web_design_slide_image.jpg', 
    it '../Images/slideshow/it_support_image.jpg', 
    telecoms '../Images/slideshow/telecoms_services_image.jpg', 
    bespoke '../Images/slideshow/bespoke_software_image.jpg', 
    digital '../Images/slideshow/digital_marketing_image.jpg', 
    cyber '../Images/slideshow/cyber_security_image.jpg', 
    
);

$navigation-back: #333645;
$navigation-border-light: #857c91;
$navigation-border-dark: #434550;


