@import "_queries.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "../Plugins/slick/slick-theme.scss";

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    letter-spacing: 0.4px;
}

.main {
    z-index: 10;
    background-color: white;
    transition: right 0.5s;
    position: relative;
    right: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    // white-space: nowrap;
}

.main_push {
    right: 275px;
}

.main_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    right: 0;
    z-index: 99999999999999;
    transition: right 0.5s;

    &.overlay_active {
        width: 100vw;
        height: 100vh;
        right: 275px;
    }
}

.side_menu {
    width: 275px;
    background-color: $navigation-back;  
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 14px;
    // margin-right: -275px;
    visibility: hidden;


    .small_screen_menu {
        padding: 0px 20px 20px 20px;

        a {
            display: block;
        }

        ul {
            margin-top: 20px;
            li {
                a {
                    padding: 10px;
                    // border-bottom: solid 0.5px $navigation-border-dark;
                    // border-top: solid 0.5px $navigation-border-light;
                }
            }
        }
    }

    .side_menu_btn {
        text-align: center;
        padding: 20px;
        // border: 1px solid white;
        // border-bottom: solid 0.5px $navigation-border-dark;
        // border-top: solid 0.5px $navigation-border-light;
        margin-top: 20px;
        text-decoration: none;

        i {
            display: block;
        }
    }

    .unmarked_list,
    .marked_list {
        margin: 0;
        padding-left: 0;
        border: 1px solid #22242e;

        li {
            list-style: none;
            background-color: #22242e;
            
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .unmarked_list {
        border-radius: 4px;
    }

    .side_menu_default{

        list-style-type: none;
        padding: 0;

        .side_menu_links {
            text-decoration: none;
            color: white;
            display: block;
            padding: 20px;
            list-style-type: none;
        }
    }

    .unmarked_list {
        text-align: center;
    }

    .marked_list {
        a {
            display: block;
            padding: 15px 0px;

            &:before {
                content: "»";
                padding: 0px 15px;
            }
        }
    }

}

.side_menu_push {
    visibility: visible;
}

.side_menu_pull {
    visibility: hidden;
    transition: visibility 0.5s;

}

.modal_lock {
    height: 100vh;
    overflow: hidden;
}

header {

    // height: 167px;
    background-color: white;
    // overflow: hidden;


    #floaty_head {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        transition: left 0.5s, right 0.5s;

        &.head_push {
            left: -275px;
            right: 275px;
        }
    }

    .floaty_default {
        visibility:hidden;
    }

    .floaty_animation_up {
        animation-name: float_up;
        animation-duration: 0.3s;
        visibility: visible;
    }

    @keyframes float_up {
        0% {transform:translateY(-100%);}
        100% {transform:translateY(0%);}
    }

    .floaty_animation_down {
        animation-name: float_down;
        animation-duration: 0.3s;
        visibility: hidden;
        transition: visibility 0.3s;
        
    }

    @keyframes float_down {
        0% {transform:translateY(0%);}
        100% {transform:translateY(-100%);}
    }

    #static_head,
    #floaty_head {
        display: block;
        
        z-index: 100;

        #header_container {  
            height: 167px;
            padding: 20px 15px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 0px auto;
            background-color: white;

            // margin-top: 20px;
            
            .netmatters_nav_container_inner { 
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 70px;
                
                .netmatters_logo_container {
                    img { // LOGO
                        height: auto; 
                        width: 100%;
                        max-height: 70px;
                    }
                }
        
                // FLEX BOX PUTS EXCESS SPACE BETWEEN THESE
        
                .actions_container {
                    height: 70px;
                    display: flex;
                    justify-content: end;
                    flex-wrap: nowrap;
                    padding: 7px 0;
                    margin-left: 20px;

                    a {
                        text-decoration: none;
                    }

                    .support_button,
                    .contact_button {
                        display: none;
                        justify-content: center;
                        text-align: center;
                        line-height: 56px;
                        border-radius: 3px;
                        font-size: 18px;
                        color: white;
                        height: 56px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        text-decoration: none;
            
                        i {
                            font-size: 18px;
                            padding-right: 10px;
                        }
                    }
            
                    .support_button {
                        display: none;
                        width: 144px;
                        background: #4183d7;

                        &:hover {
                            background: #2a6ec6;
                        }


                    }
                    
                    .contact_button {
                        display: none;
                        background: #999aa2;
                        width: 152px;
                        margin-left: 20px;

                        &:hover {
                            background: #84858f;
                        }
                    } 
            
                    .search_field {
                        display: none;

                        input {
                            padding: 0 0 0 10px;
                            width: 163px;
                            height: 56px;
                            box-shadow: none;
                            border: solid 1px grey;
                            border-right: none;
                            margin: 0;
                        }
                    }
            
                    .search_button {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        border-radius: 0 3px 3px 0;
                        height: 56px;
                        width: 63px;
                        background: #999aa2;
            
                        i {
                            font-size: 24px;
                            line-height: 56px;
                            color: white;
                        }

                        &:hover {
                            background: #84858f;
                        }
                    }
                    
                    .phone_button {
                        display: block;
                        height: 56px;
                        width: 56px;
                        text-align: center;
                        padding: 16px; 

                        i {
                            font-size: 24px;
                            line-height: 24px;
                            color:  #333645;
                        }
        
                        i:hover {
                            color:  #22242e;
                            border-bottom: solid 1px  #22242e;
                        }
                    }
                    
                    .burger_container {
                        display: block;

                        margin-left: 20px;
                        
                        
                        .hamburger {
                            background-color: #333645;
                            height: 56px;
                            width: 63px;
                            padding: 5px 15px;
                            border-radius: 3px;

                            .hamburger-box {

                                height: 19px;
                                width: 33px;

                                .hamburger-inner {
                                    background-color: white;
                                    width: 33px;
                                    height: 3px;
                                    margin-top: 4px;

                                    &::before,
                                    &::after {
                                        background-color: white;
                                        width: 33px;
                                        height: 3px;
                                        margin: 2px 0px;
                                    }
                                }

                               
                            }   
                        }


                        .burger_menu {
                            color: white;
                            text-transform: uppercase;
                            padding: 0;
                            margin: -3px 0px 0px 0px;
                            font-size: 12px;
                        }
                
                        .burger_button:hover {
                            background-color: #22242e;
        
                        }
                    }
                }
                
            }
        
            // mobile search box styles
            .mobile_search_field {
                position: relative;
                border-left: none;
                border-right: none;
                margin: 0;
                padding: 0;
                
                input {
                    border: solid 1px lightgray;
                    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 3px 0px;
                    border-radius: 2px;
                    height: 46px;
                    width: 100%;
                    padding: 5px 40px 5px 15px;
                    margin: 0;
                    background-color: rgba(55,55,55, 0.10);
                }
        
                a {
                    // line-height: 47px;
                    top: 0;
                    right: 0;
                    position: absolute;
                    font-size: 20px;
                    padding: 13.5px;
                    line-height: 20px;
                    color:  #333645;
                }
            }
        }

        // NAV MENU
        .nav_menu {
            display: none;
        }
    }

    .modal_container {
        display: none;
        width: calc(100% - 60px);
        height: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: white;
        // border: solid 5px red;
        border-radius: 5px;

        .modal_title_container {
            padding: 15px 20px;
            border-bottom: #999999 1px solid;

            h2 {
                font-size: 26px;
                line-height: 37.1429px;
                letter-spacing: 0.4px;
                color: #333645;
                font-weight: 100;
                margin: 0px;
                padding: 0px;

            }
        }

        .cookie_text {
            padding: 20px;
            border-bottom: #999999 1px solid;

            p {
                font-size: 16px;
                line-height: 22.8571px;
                letter-spacing: 0.4px;
                color: #666666;
            }
        }

        .modal_button_container {
            padding: 20px;

            a {
                display: block;
                color: white;
                padding: 5px 15px;
                width: 100%;
                line-height: 35px;
                font-size: 16px;
                text-align: center;
                text-transform: uppercase;
                border-radius: 3px;

                &:hover {
                    color: white;
                }
            }

            a:first-of-type {
                background-color: #999aa2;
                margin-bottom: 25px;
                &:hover {
                    background-color: #84858f;
                }
            }

            a:last-of-type {
                background-color: #926fb1;
                &:hover {
                    background-color: #7e57a0;
                }
            }
        }
    }

    .modal_overlay {
        z-index: 100;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100vh;
        overflow: hidden;

    }

    .activate {
        display: block;
    }
}

.slideshow_container {

    display: block;
    height: 531px;
    width: auto;
    // margin-top: 167px;
    // overflow: hidden;
    
     [class*=slide_] {
        overflow: hidden;
        height: 100%;
        width: 100%;

        .content {

            display: block;
            margin: auto;
            height: 531px;
            width: auto;
            text-align: center;

            h1, p, a {
                color: white;
                font-size: 20px;
                letter-spacing: 0.4px;

                i {
                    padding-left: 20px;
                }
            }

            h1 {
                font-size: 48px;
                text-transform: uppercase;
            }

            p {
                line-height: 36px;
            }

            a {
                display: block;
                height: 62px;
                width: 224px;
                padding: 5px 0px;
                background-color: #926fb1;
                border-radius: 3px;
                line-height: 50px;
                margin-left: auto;
                margin-right: auto;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    background-color: #79539a
                }
            }
        }
    }

    .slick-dots {
        bottom: 40px;
        // background-color: white;
        li {
            button {
            }
        }
    }
}

.cards_container {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    // height: 2152px;
    height: auto;
    margin-top: 20px;

    a {
        // @include card_default;
        display: block;
        // height: 290px; // bootstrap modifies padding, so 290px + 60px (padding doesnt stretch container)
        // height: 290px;
        padding: 30px 30px; //content positioning
        margin: 30px 15px 0px 15px; // -15px margin left/right refer netmatters parent container

        text-align: center;
        border: 1px solid;
        border-color: lightgray;

        .icon {
            display: block;
            margin: 0px auto 17px auto;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-bottom: 17px;
            line-height: 60px;
            color: white;

            i {
                font-size: 16px;
            }
        }

        h2 {     
            line-height: 17px;
            font-size: 18px;
            text-transform: capitalize;
            padding-bottom: 10px;
            font-weight: normal;
        }

        .underline {
            display: block;
            height: 3px;
            width: 30px;
            margin: auto;
            background-color: black;
            padding: 0;
            margin-bottom: 11px;
            border-radius: none;

        }

        p {
            font-size: 13px;
            line-height: 22px;
            margin-bottom: 13px;
            width: auto;
        }

        // #region
        // .card_line {
        //     display: block;
        //     height: 5px;
        //     width: 40px;
        //     background-color:black;
        //     margin-bottom: 5px;
        //     margin-left: auto;
        //     margin-right: auto;
        // }
        // #endregion

        span[class*=read_more] {
            display: inline-block;
            height: auto;
            vertical-align: middle;
            padding: 5px 15px;
            border-radius: 3px;
            font-size: 17px;
            line-height: 37px;
            text-transform: uppercase;
            text-decoration: none;
            color: white;

        }

        &:hover {
            text-decoration: none;
        }
    }
}

.background_culture {

    display: block;
    width: auto;
    height: auto;
    margin-top: 50px;
    background-color: #333645;

    .content {
        color: white;
        padding: 50px 15px 50px 15px;

        h1 {
            text-transform: uppercase;
            margin-top: -6px;
            margin-bottom: 28px;
            font-size: 36px;
            height: 39px;
            line-height: 39px;
        }

        p{
            font-size: 16px;
            margin-bottom: 25px;
            line-height: 30px;   
        }

        a {
            display:block;
            height: 47px;
            width: 173px;
            background-color: white;
            color: #333645;
            font-size: 17px;
            line-height: 35px; 
            padding: 5px 15px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase; 
            border-radius: 3px;
        }

        i {
            height: 35px;
            width: 17px;
            margin-left: 12px;
            margin-right: -4px;
        }

    }
}

.latest_breakpoint {
    // border: 1px solid red;
    display: block;
    height: 104px;
    width: auto;
    margin: 0px 15px;

    .latest {
        display: block;
        font-size: 20px;
        line-height: 96px;
        text-transform: uppercase;
    }

    .underline {
        display: block;
        height: 5px;
        width: 70px;
        background-color: black;
    }


}

.news_container {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 50px 15px;
    height: auto;

    .news_entry_one,
    .news_entry_two,
    .news_entry_three{

        display: block;
        width: auto;
        border: 1px solid lightgray;
        border-radius: 3px;
        margin-bottom: 30px;
        position: relative;

        .news_button_small {
            display: block;
            position: absolute;
            top: 10px;
            right: 0px;
            height: 23px;
            width: 56px;
            background-color: #4183d7;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            z-index: 1;
            text-align: center;
        
            a {
                display: block;
                line-height: 23px;
                width: 56px;
                text-transform: uppercase;
                color: white;
                text-decoration: none;
                text-align: center;

                &:hover {
                    text-decoration: none;
                    color: white;
                }
            }

            .hover_box {
                display: none;
                position: absolute;
                bottom: 32px;
                left: -75px;
                width: 200px;
                height: 52px;
                padding: 10px 15px;
                background-color: #333645;
                text-transform: capitalize;
                line-height: 16px;
                text-align: center;
                color: white;
                opacity: 85%;
                letter-spacing: 0.4px;
                font-weight: normal;
                font-size: 12px;
            }

            .arrow_box {
                display: none;
                position: absolute;
                bottom: 23px;
                left: 22px;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 9px solid #333645;
                opacity: 85%;
            }

            &:hover {
                .hover_box,
                .arrow_box {
                    display: block;
                }
            }
        }

        .news_button_small:hover {
            
            .news_button_hover_ctn {
                display:block;
            }
        }

        .news_image {
            // position: relative;

            img {
                height: auto;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 3px 3px 0px 0px;
            }
        }

        .news_info {
            margin: 30px;

            h3 {
                font-size: 16px;
                line-height: 24px;
                color: #926fb1;
            }
            
            p {
                font-size: 13px;
                line-height: 22px;
            }

            .news_button {
                display: block;
                text-align: center;
                height: 47px;
                width: 129px;
                border-radius: 3px;
                font-size: 17px;
                line-height: 47px;
                text-transform: uppercase;
                text-decoration: none;
                color: white;
                background-color: #926fb1;
                position: relative;

                &:hover {
                    background-color: #7e57a0;
                }       
            }

            .news_button_hover_ctn {
                display: block;
                height: 62px;
                width: 158px;
                padding: 5px 0px;
                margin-top: -3px;
                position: absolute;
                background-color: #333645;
                left: 75%; 

                .hover_box {
                    width: 100%;
                    height: 52px;
                    padding: 10px 15px;
                    background-color: #333645;

                    .arrow_box {
                        background-color: black;
                        width: 10px;
                        height: 5px;
                    }
                }
            }

            .news_author {
                display: flex;
                border-top: 1px solid lightgray;
                width: auto;
                height: 78px;
                margin-top: 30px;

                .author_image {
                    margin-top: 28px;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .posted_by {
                    margin-top: 39px;
                    display: block;
                    width: auto;
                    font-size: 14px;
                    margin-left: 20px;

                    p {
                        line-height: 0px;
                    }
                }
            }
        }
    }
}

.clients_section {
    display: none;
    width: auto;
    height: 145px;
    padding: 50px 15px;
    margin: 0 auto;

    .clients_container {
        display: flex;
        margin: 0 auto;
        padding: 0px 15px;
        width: 750px;
        height: 45px;

        div[class*=cl_]{
            padding: 0px 20px;
            height: auto;
            width: auto;
            position: relative;

            img {
                height: 100%;
                width: 100%
            }

            .colour {
                display: none;
            }

            .large_hover_box {
                display: none;
                width: auto; 
                height: auto;
                position: absolute;
                bottom: 120px;
                right: -100%;
                left: -100%;
                color: white;
                text-align: center;
                font-size: 13px;

                .large_hover_box_inner {
                    background-color: #333645;
                    width: 260px;
                    margin: auto;
                    padding: 20px;

                    h3 {
                        width: 220px;
                        margin-bottom: 11px;
                    }
                    
                    p {
                        width: 220px;
                        margin: auto;
                    }

                    .large_arrow_box {
                        width: 0;
                        height: 0;
                        border-left: 60px solid transparent ;
                        border-right: 60px solid transparent;
                        border-top: 60px solid #333645;
                        position: absolute;
                        margin: auto;
                        left: 0;
                        right: 0;
                    }
                }
            }

            &:hover {

                .black_white {
                    display: none;
                }
    
                .colour {
                    display: block;
                }

                .large_hover_box,
                .large_arrow_box {
                    display: block;
                }
            }
        } 
    }    
}

.footer_background {
    display: block;
    background-color: #333645;

    .footer_index {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 894px;
        padding: 47px 0px 43px 0px;
        color: white;

        h4 {
            font-size: 16px;
            margin-bottom: 26px;
            line-height: 17px;
        }

        ul {
            padding: 0;
            list-style-type: none;
            display: block;
            font-size: 13px;
            list-style: none;
            line-height: 22px;

            .push_bottom {
                margin-bottom: 11px;
            }
        }

        .contact_us,
        .about_net,
        .website_net,
        .social_media {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0px 15px;
            margin-bottom: 30px;

            a {
                color:white;
        
                &:hover {
                    color: white;
                }
        
                &:active {
                    color: black;
                }
            }    
        }
    }   

    .social_media {

        .social_container {
            margin: -26px -15px 0px -15px;
            height: 170px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            a{
                display: block;
                height: 55px;
                margin: 30px 15px 0px 15px;
                background-color: rgba(0,0,0, .25);
                font-size: 28px;
                text-align: center;
                line-height: 55px;
                width: auto;

                i {
                    

                    &:active {
                        color: white;
                    }

                }
            }

            .facebook {

                &:hover {
                background-color: #3b599a;
                }
            }
        
            .linkedin {

                &:hover {
                background-color: #0077b5;
                }
            }

            .twitter {

                &:hover {
                background-color: #00aced;
                }
            }
            
        }

    }

}

.partners_background {
    display: none;
    padding: 50px 0;
    width: auto;
    height: 187px;

    .partners_container {
        width: 750px;
        height: 87px;
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;

        div[class*=pc_] {
            padding: 0 20px;

            img {
                max-height: 87px;
                max-width: 90%;
            }

            .colour {
                display: none;
            }

            &:hover {

                .black_white {
                    display: none;
                }

                .colour {
                    display: block;
                }
            }
        }   
    }
}

@media (min-width: 768px) {

    header {

        #static_head,
        #floaty_head {

            #header_container {
                // width is 18 px smaller than the media query to account for the 19px wide vertical scrollbar width
                // 750 + 18 = 768px
                // width: 750px;
                width: 100%;
                height: 110px;

                .netmatters_nav_container_inner {
                    height: 70px;
        
                    .netmatters_logo_container {
                        height: 60px;
                        width: 375px;

                        img {
                            height: 60px;
                            width: 345px;
                        }
                    }
        
        
                    .actions_container { // KEEPS THE ACTIONS TOGETHER
                        // border: solid 1px black;
                        // At 768px add this (padding done)
                        padding: 7px 0;
                        width: 340px;
                        height: 70px;
                        justify-content: flex-end;
                        
                        .search_field,
                        .search_button {
                            display: inline-block;
                        }
            
                        .phone_button {
                            display: none;
                        }

                        .search_field {
                            width: 163px;
                            height: 54px;
                            // padding: 1px;
                            margin: 0;
                            // padding: 5px 15px;

                        }

                        .search_button {
                            width: 63px;
                            height: 56px;
                            padding: 0px 20px 0px 20px;
                            line-height: 56px;
                        }

                        .burger_button {
                            width: 63px;
                            height: 56px;
                            margin-left: 20px;
                            padding: auto;
                        }

                        .burger_container {
                            margin: 0;
                        }
                    }
                }

                .mobile_search_field {
                    display: none;
                }
            }
        }

        .modal_container {
            
            width: 600px;

            .modal_button_container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;

                a:first-of-type {
                    margin-bottom: 0px;
                    margin-right: 30px;
                }
            }
        }
        
    }


    .slideshow_container {
        height: 796px;

        [class*=slide_] {
            height: 797px;

            .slide_content {
                // width: 750px;
                margin: 0 auto;
            }
        }
    }

    .cards_container {
        // border: 1px solid red;
        flex-direction: row;
        flex-wrap: wrap;
        width: 750px;

        margin-left: auto;
        margin-right: auto;

        div[class*=card_]{

            height: 100%;
        }

        .card_bespoke,
        .card_it,
        .card_digital {

            width: 100%;

            p {
                // width: 658px;
                height: 44px;
                width: 658px;
            }
        }

        .card_telecoms,
        .card_web,
        .card_cyber {
            height: 312px; // - 60
            width: 345px;

            p {
                width: 283px;
                height: 66px;
            }
        }
    }

    .background_culture {
        height: 493px;
        // padding: 0px 15px;

        .content {
            width: 750px;
            height: 493px;
            padding: 50px 15px;
            margin: auto;

        }
    }

    .latest_breakpoint {
        width: 720px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .news_container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 750px;
        margin: 0 auto;
        justify-content: space-between;

        .news_entry_one,
        .news_entry_two {
            // width: 100%;
            // height: 100%;
            width: 345px;
            height: 569px;

            // margin: 0px 15px 30px 15px;

            // .news_image {
            //     width: 345px;
            //     height: 199px; 
            // }
        }
        
        .news_entry_three {
            display: none;
        }
    }
    
    .clients_section {
        display: block;
    }

    .footer_background {
        width: 100%;
        height: 528px;

        .footer_index {
            margin: auto;
            width: 750px;
            height: 438px;
            flex-direction: row;
            flex-wrap: wrap;

            .contact_us,
            .about_net,
            .website_net,
            .social_media {
                width: 50%;
            }
        }
    }

    .partners_background {
        display: block;
    }
}

@media (min-width: 992px) {

    .main_overlay {
 
        &.overlay_active {
            right: 350px;
        }
    }

    .main_push {
        right: 350px;
    }

    .side_menu {
        width: 350px;
    }

    .small_screen_menu {
        display: none;
    }

    header {

        #static_head,
        #floaty_head {

            #header_container {
                // display: block; 
                
                height: 110px;
                width: 100%;
                margin: auto;

                .netmatters_nav_container_inner {
                    height: 70px;
                    margin: auto;
                    // width: 100%;
                    width: 945px;

                    .nevmatters_logo_container { 
                        height: 70px;
                        // width: 404px;
                        width: 100%;
        
                        img {
                            width: 374px;
                            height: 65px;
                        }
                    }

                    .actions_container {

                        height: 70px;
                        // width: 565px;
                        width: 100%;
                        padding: 7px 0 7px 0;
                        // justify-content: space-between;

                        .support_button,
                        .contact_button {
                            display: block;
                            font-size: 18px;
                        }

                        .search_field {
                            display: none;
                        }

                        .search_button {
                            border-radius: 3px;
                            margin-left: 20px;
                            margin-right: 20px;
                        }
                    }
                }

            }

            .nav_menu {
                display: block;
                width: 100%;
                height: 99px;
                background-color: #333645;
                // background-color: yellow;
                // margin: auto;
                // margin-left: auto;
                // margin-right: auto;

                .nav_menu_buttons {
                    display: flex;
                    width: 945px;
                    // padding: 0px 15px;
                    margin-left: auto;
                    margin-right: auto;
                    // border-left: solid 1px $navigation-border-dark;
                    // border-right: solid 1px $navigation-border-light;

                    div[class*=_container] {
                        width: 157.5px;
                        height: 99px;

                        .nav_button {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            width: 157.5px;
                            height: 99px;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 18px;
                            border-style: inset;
                            border-top: none;
                            border-bottom: none;
                            border-left: solid 1px $navigation-border-dark;
                            border-right: solid 1px $navigation-border-light;

                            i {
                                padding-bottom: 10px;
                            }

                            small {
                                font-size: 10px;
                                line-height: 10px;     
                            }
                        }   
                    
                        .nav_sub_bar {
                            display: none;
                            height: 45px;
                            position: absolute;
                            left: 0;
                            right: 0;
                            z-index: 1;

                            div[class*=_contents] {
                                width: 945px;
                                height: 45px;
                                margin-left: auto;
                                margin-right: auto;

                                a {
                                    // padding-left: 20px;
                                    text-transform: uppercase;
                                    line-height: 45px;
                                    text-decoration: none; 
                                    font-size: 13px;
                                }

                                span {
                                    padding: 0 20px;
                                }
                            }
                        }
                    }

                    div[class*=_container]:hover {

                        a {
                            text-decoration: none;
                        }

                        .nav_sub_bar {
                            display: block;
                        }
                    }
                }   
            }
        }
    }


    .slideshow_container {
        height: 697px;

        [class*=slide_] {
            height: 697px;

            .slide_content {
                width: 945px;
                text-align: left;
                margin-left: auto;
                margin-right: auto;
                padding: 186px 0px;

                a {
                    margin: 0;
                    text-align: center;
                }

                p {
                    width: 400px; 
                 }
            }
        }
    }

    .cards_container {
        // height: 1056px;
        width: 970px;
  
        .card_bespoke,
        .card_it,
        .card_digital {
            height: 356px;
            width: 293px;

            p {
                height: 110px;
                width: 231px;
            }
        }

        .card_telecoms,
        .card_web,
        .card_cyber {
            
            height: 290px;
            width: 455px;

            p {
                width: 393px;
                height: 44px;

                margin-left: auto;
                margin-right: auto;
            }
        }  
    }

    .background_culture { 
        background-image: url("../Images/branded.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 100%;

      .content {
          width: 970px;
      }
    }

    .latest_breakpoint {
        width: 940px;
        padding: 0;
    }

    .news_container {
        width: 970px;

        .news_entry_one,
        .news_entry_two {
            width: 455px;
            height: 663px;
        }

        .news_entry_one,
        .news_entry_two,
        .news_entry_three {

            .news_image {
                overflow: hidden;

                img {
                    background-size: cover;
                    background-repeat: no-repeat;

                    &:hover {
                        transform: scale(1.05, 1.05);
                        opacity: 0.75;
                        transition: all .2s;
                    }
                }  
            }
        }
    }

    .clients_section {
        height: 162px;

        .clients_container {
            width: 970px;
            height: 62px;
        }
    }

    .footer_background {
        .footer_index {
            width: 970px;
        }
    }

    .partners_background {
        height: 210px;

        .partners_container { 
        width: 970px;
        height: 110px;

            div[class*=pc_] {
                

                img {
                    height: 110px;
                    max-width: 970px;
                }


            }
        }    
    }
}       

@media (min-width: 1260px) {

    header {

        #static_head,
        #floaty_head {

            #header_container {
                // width: 100%;

                .netmatters_nav_container_inner {
                    width: 1170px;
                    justify-content: space-evenly;

                    .netmatters_logo_container {
                        width: 400px;
                        height: 70px;
                        img {
                            height: 65px;
                        }
                    }
                    
                    .actions_container {
                        width: auto;
                        height: 70px;
        
                        .search_field {
                            display: inline-block;
                            width: 240px;
                            height: 56px;
                            margin-left: 20px;
                            // margin-top: -1px;
                            
        
                            input {
                                width: 240px;
                                height: 56px;
                                padding: 0px 0px 0px 15px;
                            }
                            
                        }

                        .search_button {
                            border-radius: 0 3px 3px 0;
                            margin-left: 0px;
                        }
        
                        .support_button {
                            width: 144px;
                        }
                    }
                }
            }
            
            .nav_menu {
            .nav_menu_buttons {
                width: 1170px;

                div[class*=_container] {
                    width: 194px;
                    // height: 99px;

                    .nav_button {
                        width: 194px;
                        // height: 99px;
                    }

                    .nav_sub_bar {
                        div[class*=_contents] {
                            width: 1170px;

                            a {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            }
        }
    }

    // .slideshow_container {
    //     // height: 740px;

    //     // [class*=slide_] {
    //     //     // height: 940px;
    //     // }
    // }

    .cards_container {

        width: 1200px;

        .card_bespoke,
        .card_it,
        .card_digital {
            width: 370px;
            height: 312px;

            p {
                font-size: 13px;
                height: 66px;
                width: 308px;  
            }  
        }

        .card_telecoms,
        .card_web,
        .card_cyber {
            width: 270px;
            height: 312px;

            p {
                height: 66px;
                width: 208px;
            }
        }
    }

    .background_culture {
        height: 553px;

        .content {
            height: 453px;
            width: 1200px;
            // margin: 0 auto;
        }
    }

    .latest_breakpoint {
        width: 1170px;
    }

    .news_container {
        width: 1200px;
        height: 583px;

        .news_entry_one,
        .news_entry_two,
        .news_entry_three {
            display: block;
            width: 370px;
            height: 593px;

            .news_info {
                height: 350px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 30px 30px 0px 30px;
                padding-bottom: 30px;

                h3 {
                    height: 48px;
                }

                .news_info_p {
                    width: 308px;
                    height: 66px;
                    margin-bottom: 25px;
                }

            }


        }
    }

    .clients_section {
        margin-top: 100px;
        height: 170px;

        .clients_container {
            width: 1200px;
            height: 70px;
            justify-content: space-evenly;
        }
    }

    .footer_background {
        height: 309px;

        .footer_index {

            width: 1200px;

            .contact_us,
            .about_net,
            .website_net,
            .social_media {

                width: 25%;
            }
        }
    }

    .partners_background {
        height: 188px;

        .partners_container { 
        width: 1200px;
        height: 88px;
        justify-content: space-evenly;

            div[class*=pc_] {


                img {
                    padding: 0 30px;
                    height: auto;
                    width: auto;
                }


            }
        }    
    }
}

