
.contact_page_head {

    h1 {
        padding: 0px 15px;
    }

    a {
        color: #926fb1;
        font-size: 26px;
    }

}

@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1260px) {}