@import "_variables.scss";

// NAVIGATON BAR MIXIN
@each $name, $light_colour, $dark_colour in $colours {
    .button_#{$name} { // compiles into .button_web

        i {
            color: $light_colour;
        }

        color: white;
    }

    .button_#{$name}:hover {

        color: white;
        background-color: $light_colour;

        i {
            color: white;
        }
    }

    .bar_#{$name} { // compiles into .bar_web
        background-color: $dark_colour;

        a, span {
            color: white;
        }

        a:hover {
            color: white;
        }
    }
}

// SLIDESHOW MIXIN 

@each $name, $url in $image_URL {
    .slide_#{$name} {
        background-image: linear-gradient(260deg, transparent 0%,#000), url($url);
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: auto;
        overflow: hidden;
    }

}


// SLIDESHOW Heights

@mixin Slideshow_mobile {
    background-size: 100vw 530px;
}

@mixin Slideshow_tablet {
    background-size: 100vw 913px;
}

@mixin Slideshow_desktop {
    background-size: 100vw 740px;
}



// CARD MIXN      

@each $name, $light_colour, $dark_colour in $colours {
    .card_#{$name} { // compiles into .card_web
        .icon {
            background-color: $light_colour;
        }

        h2, p, span {
            color: black;
        }
    }
    
    .read_more_#{$name} {
        background-color: $light_colour;
    }


    //MAIN NAVIGATION COLOURS
    .card_#{$name}:hover {
        background-color: $light_colour;
        color: white; // Make all text white on hover
        .icon,
        .underline {
            background-color: white;
            i {
                color: $light_colour;
            }
        }

        h2, p, span {
            color: white;
        }

        .read_more_#{$name} {
            background-color: white;
            color: $light_colour;
        }
    }

    //SIDE BAR COLOURS FROM BURGER MENU
}

// POPUPS

@mixin popup-container {
    display: none;
        width: calc(100% - 60px);
        height: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: white;
        // border: solid 5px red;
        border-radius: 5px;
};





